:root {
  --color-primary: hsl(0, 93%, 68%);
  --color-secondary: hsl(0, 36%, 70%);
  --color-neutral: hsl(0, 6%, 24%);
  --main-font: 'Josefin Sans', sans-serif;
}

body {
  text-rendering: optimizeSpeed;
  font-family: var(--main-font);
  font-size: 16px;
  background: #fff6f7;
}

/* Hide elements for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  max-width: 1680px;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(
135deg
, hsl(0, 0%, 100%), hsl(0, 100%, 98%))
}

@media (min-width: 900px){
  .site-wrapper {
    background: unset;
    background-image: url(../assets/images/bg-pattern-desktop.svg);
  } 
}

@media (min-width: 900px){
  main {
    display: flex;
    justify-content: space-between;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@media (min-width: 900px) {
  .main-container {
    flex-basis: 55%;
  }
}

.bounded-container {
  padding: 0 2rem;
}

@media (min-width: 900px){
  .bounded-container {
    padding-left: 6rem;
    padding-right: 0;
  }
}

.logo-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.site-logo {
  width: 125px;
}

@media (min-width: 900px) {
  .site-logo {
    width: 175px;
  }
}

.img-container-mobile {
  background-image: url(../assets/images/hero-mobile.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 300px;  
}

@media(min-width: 900px){
  .img-container-mobile {
    display: none;
  }
}

.content-wrapper {
  text-align: center;
  min-height: 400px;
  max-width: 375px;
  margin: 4rem auto 0 auto;
}

@media(min-width:900px){
  .content-wrapper {
    text-align: left;
    max-width: 475px;
    margin: 6.5rem 0 0 0;
  }
}

h2 {
  font-size: 2rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: var(--color-neutral);
  line-height: 1.125;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px){
  h2 {
    font-size: 3rem;
  }
}

@media (min-width: 900px){
  h2 {
    font-size: 4rem;
    letter-spacing: 14px;
  }
}

h2 span {
  color:var(--color-secondary);
  font-weight: 300;
}

h3 {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.75;
  margin-bottom: 2rem;
}

.img-container-desktop {
  display: none;
}

@media(min-width: 900px){
  .img-container-desktop {
    display: block;
    background-image: url(../assets/images/hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    flex-basis: 45%;
  }
}

/* Form Styling */


/* Footer */
.fm-attribution-row {
  padding-bottom: 1.5rem
}

.fm-attribution {
  font-size: .75rem;
  line-height: 1.5;
  color: var(--color-neutral);
}

.fm-attribution a {
  color: var(--color-neutral);
}