:root {
  --color-primary: hsl(0, 93%, 68%);
  --color-secondary: hsl(0, 36%, 70%);
  --color-neutral: hsl(0, 6%, 24%);
  --main-font: 'Josefin Sans', sans-serif;
}

body {
  text-rendering: optimizeSpeed;
  font-family: var(--main-font);
  font-size: 16px;
}

.site-wrapper {
  max-width: 1440px;
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

@media (min-width: 900px) {
  .site-wrapper {
    background: none;
    background-image: url(../assets/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 900px) {
  main {
    display: flex;
    justify-content: space-between;
  }
}

/* Hidden elements for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

@media (min-width: 900px) {
  .main-container {
    flex-basis: 60%;
  }
}

.lr-gutter {
  padding: 0 2rem;
}

@media (min-width: 900px) {
  .lr-gutter {
    padding-left: 6rem;
  }
}

@media (min-width: 1200px) {
  .lr-gutter {
    padding-left: 10rem;
  }
}

.logo-wrapper {
  margin-bottom: 2.5rem;
}

@media (min-width: 900px) {
  .logo-wrapper {
    padding-top: 6rem;
  }
}

.site-logo {
  width: 125px;
}

@media (min-width: 900px) {
  .site-logo {
    width: 175px;
  }
}

/* Site Image */
.mobile-img-wrapper {
  background-image: url(../assets/images/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  height: 300px;
  margin-bottom: 6rem;
}

@media (min-width: 900px) {
  .mobile-img-wrapper {
    display: none;
  }
}

.desktop-img-wrapper {
  display: none;
}

@media (min-width: 900px) {
  .desktop-img-wrapper {
    display: block;
    background-image: url(../assets/images/hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 900px;
    flex-basis: 45%;
  }
}

.cta-wrapper {
  text-align: center;
  min-height: 450px;
  max-width: 375px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .cta-wrapper {
    text-align: left;
    max-width: 565px;
    margin: 6.5rem 0 0 0;
  }
}

@media (min-width: 1200px) {
  .cta-wrapper {
    max-width: 600px;
  }
}

h2 {
  font-size: 2rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: var(--color-neutral);
  line-height: 1.125;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

h2 span {
  color: var(--color-secondary);
  font-weight: 300;
}

h3 {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.85;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 4rem;
    letter-spacing: 14px;
  }

  h3 {
    font-size: 0.975rem;
  }
}

/* Form Styling */
form {
  position: relative;
}

/* Input text field */
input[type='email'] {
  border: 1.5px solid rgb(214, 196, 196);
  border-radius: 24px;
  padding: 1rem 2rem;
  width: 100%;
  background: none;
  font-family: var(--main-font);
  font-size: 0.875rem;
}

@media (min-width: 900px) {
  input[type='email'] {
    font-size: 1rem;
  }
}

/* Adding red outline for error input */
input[type='email']:focus {
  outline: none;
  border: 1.5px solid var(--color-primary);
  box-shadow: 0px 0px 4px var(--color-primary);
}

/* Placeholder text */
input::-webkit-input-placeholder {
  color: var(--color-secondary);
  opacity: 0.5;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder, 
input::placeholder {
  color: var(--color-secondary);
  opacity: 0.5;
}

.icon-container {
  position: absolute;
  right: -2px;
}

#error-icon {
  display: none;
  position: relative;
  bottom: 2px;
}

@media (min-width: 900px) {
  #error-icon {
    bottom: 4px;
  }
}

#submit-btn {
  display: inline;
  position: relative;
  bottom: 5px;
  border: 1.5px solid #f3a5a5;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 50px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

@media (min-width: 900px) {
  #submit-btn {
    bottom: 9px;
    padding: 1.25rem 2.75rem;
  }
}

#submit-btn img {
  display: inline-block;
}

#submit-btn:focus {
  outline: none;
  border: 1.5px solid var(--color-primary);
  box-shadow: 0px 0px 4px var(--color-primary);
}

#submit-msg {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 0.875rem;
  color: var(--color-primary);
}

@media (min-width: 900px) {
  #submit-msg {
    text-align: left;
  }
}

/* Footer */
.fm-attribution-row {
  text-align: center;
}

@media (min-width: 900px){
  .fm-attribution-row {
    text-align: left;
  }
}

.fm-attribution {
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--color-neutral);
}

.fm-attribution a {
  color: var(--color-neutral);
}
